html, body
{
    margin: 0;
}
.nav
{
    margin-top: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 30px;
}
.nav a
{
    margin-top: 3px;
    float: left;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}
.nav a:hover
{
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 30px;
}
.nav a.active
{
    background-color: rgba(55, 160, 52, 0.24);
    border-radius: 30px;
}
.nav button
{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
